@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 15%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 15%;
    --primary: 245 88% 63%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 245 88% 96%;
    --accent-foreground: 245 88% 63%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 245 88% 63%;
    --radius: 0.5rem;
    --button-background: #5B4FF5;
    --button-background-hover: #3B23F1;
  }

  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}